{% extends 'blog/base.html' %}

{% block title %}User Registration{% endblock title %}

{% block content %}
<!--    <h1>User Registration</h1>-->
<!--    <p>Enter your username and password to register.</p>-->
    <form method="post" action="">
        <div class="login-box">
            <h1>User Registration</h1>

            <div class="text-box">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" name="username" maxlength="150" autocapitalize="none"
                       autocomplete="username" autofocus="" required="" id="id_username">
            </div>
            <div class="text-box">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" name="password1" autocomplete="new-password"
                       required="" id="id_password1">
            </div>
            <p>Password confirmation:</p>
            <div class="text-box">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" name="password2" autocomplete="new-password"
                       required="" id="id_password2">
            </div>
            <span class="helptext">Enter the same password as before, for verification.</span>
            <input class="btn" type="submit" value="Register">
            <input type="hidden" name="next" value="{{next}}/">
            <input type="hidden" name="csrfmiddlewaretoken"
                   value="gHbySwb69nzMGbHeL2AwPG9QQK2RswgRbGSBdikeNHjiCiTgUwbxzT9QDPUllEIo">
            {% csrf_token %}
        </div>
<!--        <table>-->
<!--            {{ form.as_table }}-->
<!--            <tr>-->
<!--                <td>&nbsp;</td>-->
<!--                <td><input type="submit" value="register"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <input type="hidden" name="next" value="{{ next }}/">-->
<!--        {% csrf_token %}-->
    </form>
{% endblock content %}